<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Enrollment Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h2>User Enrollment Form</h2>
        <form class="enrollment-form" [formGroup]="enrollmentForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <h6>* Indicates a required field</h6>
                <label for="childName">Child's Name</label>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name"
                            required disabled>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name"
                            required disabled>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="childDob">Child's Date of Birth</label>
                <input type="date" class="form-control" id="childDob" name="childDob"disabled>
            </div>

            <div class="form-group">
                <label for="childGender">Child's Gender</label>
                <select class="form-control" id="childGender" name="childGender" disabled> 
                </select>
            </div>

            <div class="form-group">
                <label for="relationship">Relationship with Child</label>
                <select class="form-control" id="relationship" name="relationship" disabled>
                </select>
            </div>

            <div class="form-group">
                <label for="policyDuration">Policy Duration<span class="text-danger">*</span></label>
                <select class="form-control" id="policyDuration" name="policyDuration" formControlName="policyDuration">
                    <option value="">Select policy duration in years</option>
                    <option value="3">3 </option>
                    <option value="5">5 </option>
                    <option value="10">10 </option>
                </select>
            </div>

            <div class="form-group">
                <label>Policy Enrolled into:</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="policyEnrollments" id="healthClaims"
                        value="healthClaims"  disabled>
                    <label class="form-check-label" for="healthClaims">Health Insurance</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="policyEnrollments" id="educationClaims"
                        value="educationClaims"  disabled>
                    <label class="form-check-label" for="educationClaims">Education Policy</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="policyEnrollments" id="endowmentClaim"
                        value="endowmentClaim" disabled>
                    <label class="form-check-label" for="endowmentClaim">Endowment Policy</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>